body{
    font-family: Georgia;
    text-decoration: none;
    margin-left: 60px;
}
.menu{
    color: rgb(63, 136, 226);
    margin-left: 60px ;
    font-size: 7em;
    font-family: Georgia;
    margin-bottom: 10px;

}
.blue{
    color: rgb(104, 160, 237);
    font-size: 30px;
    font-family: Georgia;
}
.pink{
    color:rgb(208, 104, 237);
    margin-left: 250px;
    font-size: 30px;
    font-family: cursive;
}
.tann{
    font-size: 50px;
    color: rgb(208, 104, 237);
    margin-left: 40px;
    font-family: Georgia;
}
.sm{
    border-radius: 10px;
    text-decoration: none;
}
#img2{
    
}
#img4{
    margin-left: 900px;
}
.ing{
    font-family: Georgia;
}
#num{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }
#enj{
    color: rgb(208, 104, 237);
    font-size: 30px;
    font-family: Georgia;
}
#delv{
    font-family: Arial, Helvetica, sans-serif;
}
